
/* GENERAL */

.social-icon {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    width: 50px; 
    height: 50px; 
}

.social-icon i {
    font-size: 20px;
}

.custom-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 15%;
    height: 4px;
    background-color: white;
    margin: 0 10px;
    border-radius: 30px;
}

.star-icon {
    font-size: 2rem;
}

/* HEADER */

.header-top {
    background-color: #2C3E50;
    padding: 15px 0;
}

.header-bottom {
    background-color: #1ABC9C;
}

.avatar {
    width: 250px;
    height: 250px;
}

.header-bottom span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* COLORS */

.my-bg-cyan {
    background-color: #1ABC9C;
}

.my-color-cyan {
    color:#1ABC9C;
}

.custom-placeholder::placeholder {
    color: #2C3E50;
    font-weight: 500;
}

.my-bg-lightdark {
    background-color:#3A546D;
}

.my-bg-dark {
    background-color:#2C3E50;
}

