/* GENERAL */

img {
    max-width: 100%;
}

/* HEADER */

.header-top {
    background-color: #2C3E50;
}

.header-bottom {
    background-color: #1ABC9C;
}

.custom-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.line {
    width: 10%;
    height: 3px;
    background-color: white;
    margin: 0 10px;
}
.star-icon {
    font-size: 42px;
    color: white;
}

/* MAIN */


/* RESPONSIVE */

/* tablet */